/* здесь используйте глобальные переменные */
/* брейкпоинты */
$desktop-width: 1440px;

/* переменные шрифтов */
$primary-font: "Optimal", "Arial", sans-serif;
$secondary-font: "Montserrat", "Arial", sans-serif;
$quote-font: "Kornilow", "Arial", sans-serif;

/* переменные цветов */
$base-white-color: #ffffff;
$dark-yellow-color: #a4834e;
$light-yellow-color: #e3C37a;
$text-dark-color: #232228;
$light-gray-color: #d9d9d9;
$disable-gray-color: #B1B1B1;
$base-gray-color: #f6f4f5;
