.reviews {
  width: 100%;
  background-color: $base-gray-color;
  padding: 78px 69px 80px;
}

.reviews__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
}

.reviews__title {
  width: 100%;
  justify-content: center;
}

.reviews__subtitle {
  width: 100%;
  text-align: center;
  margin-bottom: 102px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  width: calc(100% - 51px);
  margin-left: -48px;
  margin-bottom: 59px;
}

.reviews-item {
  width: 898px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

}
.reviews-item::before {
  content: "";
  display: block;
  width: 898px;
  position: absolute;
  height: 185px;
  border: 1px solid $dark-yellow-color;
  top: 70px;
  z-index: 0;
}

.reviews-item__image {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  border: 10px solid $base-gray-color;
  border-radius: 50%;
}

.reviews-item__wrapper {
  background-color: #ffffff;
  width: 854px;
  padding: 84px 100px 75px;
  position: relative;

  &::before {
    content: "“";
    display: block;
    font-family: $quote-font;
    font-size: 128px;
    color: $light-gray-color;
    position: absolute;
    bottom: -130px;
    left: 42px;
  }

  &::after {
    content: "“";
    display: block;
    font-family: $quote-font;
    font-size: 128px;
    color: $light-gray-color;
    position: absolute;
    top: -130px;
    left: calc(50% + 347px);
    transform: rotate(180deg);
  }
}

.reviews-item__wrapper p {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-style: italic;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 0.025em;
}

.reviews-item__wrapper h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.reviews-item__wrapper span {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 200;
  color: $disable-gray-color;
}

.reviews-swiper__button {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid $dark-yellow-color;
  background-color: $dark-yellow-color;
  margin-top: 135px;
  position: relative;
  z-index: 2;
  padding: 12px;

  &--next .swiper-button__arrow {
    mask-image: url('../../images/arrow-left.svg');
  }

  &--prev .swiper-button__arrow {
    mask-image: url('../../images/arrow-right.svg');
  }

  &:hover,
  &:focus {
    background-color: transparent;
    outline: none;
  }

  &:active {
    background-color: $light-yellow-color;
    border: 1px solid $light-yellow-color
  }

  &:disabled {
    background-color: $disable-gray-color;
    border: 1px solid $disable-gray-color
  }
}

.swiper-button__arrow {
  display: block;
  width: 24px;
  height: 24px;
  mask-position: top 4px left 2px;
  mask-repeat: no-repeat;
  mask-size: 17px;
  background-color: $base-white-color;
}

.reviews-swiper__button:hover .swiper-button__arrow,
.reviews-swiper__button:focus .swiper-button__arrow {
  background-color: $text-dark-color;
}
.reviews-swiper__button:active .swiper-button__arrow,
.reviews-swiper__button:disabled .swiper-button__arrow {
  background-color: $base-white-color;
}


.reviews-swiper__pagination {
  display: flex;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 5px;
}

.reviews-swiper__pagination .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  background-color: $base-white-color;
  border-radius: 50%;
}

.reviews-swiper__pagination .swiper-pagination-bullet-active {
  outline: 1px solid $dark-yellow-color;
  background-color: $dark-yellow-color;
  outline-offset: 3px;
  margin: 0 4px;
}
